// Disabled Icon
.icon-disabled {
  opacity: 0.3;
  @extend .forbid;
  @extend .black;
}

// TODO: to be removed
.icon-ar {
  margin: 0 0 0 0.5rem;
}
.icon-en {
  margin: 0 0.5rem 0 0;
}
.icon-large-ar {
  margin: 0 0 0 1rem;
}
.icon-large-en {
  margin: 0 1rem 0 0;
}
//

// Micro Icons
.icon-micro {
  width: 15px;
  height: 15px;
}
.icon-micro1 {
  width: 17.5px;
  height: 17.5px;
}
.icon-micro2 {
  width: 20px;
  height: 20px;
}

// Tiny Icons
.icon-tiny {
  width: 22.5px;
  height: 22.5px;
}
.icon-tiny1 {
  width: 25px;
  height: 25px;
}
.icon-tiny2 {
  width: 27.5px;
  height: 27.5px;
}

// Small Icons
.icon-small {
  width: 30px;
  height: 30px;
}
.icon-small1 {
  width: 32.5px;
  height: 32.5px;
}
.icon-small2 {
  width: 35px;
  height: 35px;
}

// Med Icons
.icon-med {
  width: 37.5px;
  height: 37.5px;
}
.icon-med1 {
  width: 40px;
  height: 40px;
}
.icon-med2 {
  width: 42.5px;
  height: 42.5px;
}

// Big Icons
.icon-big {
  width: 60px;
  height: 60px;
}
.icon-big1 {
  width: 65px;
  height: 65px;
}
.icon-big2 {
  width: 70px;
  height: 70px;
}

// Giant Icons
.icon-giant {
  width: 75px;
  height: 75px;
}
.icon-giant1 {
  width: 85px;
  height: 85px;
}
.icon-giant2 {
  width: 95px;
  height: 95px;
}

// Monster Icons
.icon-monster {
  width: 110px;
  height: 110px;
}
.icon-monster1 {
  width: 120px;
  height: 120px;
}
.icon-monster2 {
  width: 130px;
  height: 130px;
}
.icon-monster3 {
  width: 140px;
  height: 140px;
}
.icon-monster4 {
  width: 150px;
  height: 150px;
}
