.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.full-width-imp {
  width: 100% !important;
}
.full-height-imp {
  height: 100% !important;
}
.full-width-vw {
  width: 100vw;
}
.full-height-vh {
  height: 100vh;
}
.full-width-vw-imp {
  width: 100vw !important;
}
.full-height-vh-imp {
  height: 100vh !important;
}
.max-width {
  max-width: 80%;
}
.fit-content {
  width: fit-content;
  height: fit-content;
}
.width-fit-content {
  width: fit-content;
}
.height-fit-content {
  height: fit-content;
}
