.shadow {
  box-shadow: 0px 0px 12px -5px rgba($color: $black, $alpha: 0.2);
}
.shadow-hover {
  box-shadow: 0px 0px 15px 2px rgba($color: $black, $alpha: 0.2);
}
.shadow-brand {
  box-shadow: 0px 0px 15px -1px rgba($color: $brand, $alpha: 0.2);
}
.shadow-hover-brand {
  box-shadow: 0px 0px 15px 2px rgba($color: $brand, $alpha: 0.2);
}
.shadow-second {
  box-shadow: 0px 0px 15px -1px rgba($color: $second, $alpha: 0.2);
}
.shadow-hover-second {
  box-shadow: 0px 0px 15px 2px rgba($color: $second, $alpha: 0.2);
}
