// Tiny Parag
.micro-lit {
  @extend .light;
}
.micro-med {
  @extend .medium;
}
.micro-hev {
  @extend .heavy;
}
.micro-blk {
  @extend .blacked;
}

//// Media Queries ////

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .micro-lit,
  .micro-med,
  .micro-hev,
  .micro-blk {
    font-size: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .micro-lit,
  .micro-med,
  .micro-hev,
  .micro-blk {
    font-size: 12.5px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .micro-lit,
  .micro-med,
  .micro-hev,
  .micro-blk {
    font-size: 13px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .micro-lit,
  .micro-med,
  .micro-hev,
  .micro-blk {
    font-size: 13.5px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .micro-lit,
  .micro-med,
  .micro-hev,
  .micro-blk {
    font-size: 14px;
  }
}
